footer {
	background-color: #FFFFFF;
	border-top: 1px solid #CCCCCC;
	height: 60px;
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
}

footer p {
	position: relative;
	top: 20px;
}
